@import "tailwindcss";

@font-face {
  font-family: 'Neopixel';
  src: url('/fonts/neopixel-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry';
  src: url('/fonts/MabryPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

/* Cacher la scrollbar sur tous les navigateurs */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
    background: var(--background);

}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Opera */
  width: 0;
  height: 0;
}

body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

header{
  /* transform: translate(-50%, -150%); */
  animation: headerSlide 1s ease-out forwards;
}

.headerNormal{
  /* transform: translate(-50%, -150%); */
  animation: headerBackSlide 1s ease-out forwards;
}

.headerReverse{
  /* transform: translate(-50%, 150%); */
  animation: headerSlideReverse 1s ease-out forwards;
} 

@keyframes headerSlide {
  from {
    transform: translate(0%, -150%);
  }
  to {
    transform: translate(0%, 0%);
  }

}

@keyframes headerSlideReverse {
  from {
    transform: translate(0%, 150%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes headerBackSlide {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0%, -150%);
  }
}